@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Press+Start+2P&display=swap");

:root {
  --primary-font: "Press Start 2P", cursive;
  --secondary-font: "Permanent Marker", cursive;
  --bg-color: #2c2c54;
  --text-color: #dfe0dc;
  --highlight-color: #8a4fff;
  --ship-color: #868698;
  --hit-color: #d81159;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--primary-font);
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.4s ease;
}

a:hover {
  color: var(--highlight-color);
}

p {
  margin: 0;
  line-height: 1.5rem;
}

button {
  border: none;
  cursor: pointer;
  font-family: var(--primary-font);
}

main {
  box-sizing: border-box;
  min-height: calc(100vh - 3rem - 4px);
  padding: 2rem 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: clamp(1rem, 10vw, 2.25rem);
  text-shadow: 3px 3px 1px var(--highlight-color);
  margin: 0;
  line-height: 2.75rem;
  text-align: center;
  transition: all 0.2s ease;
}

h1:hover {
  text-shadow: -3px -3px 1px var(--highlight-color);
}

h2 {
  font-size: clamp(1.25rem, 8vw, 1rem);
  margin: 0;
  padding-bottom: 1rem;
  transition: all 0.4s ease;
}

section {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-game {
  border: 2px solid var(--text-color);
  padding: 1.5rem 2rem;
  transition: all 0.4s ease;
}

.dialog-box {
  font-size: clamp(0.7rem, 5vw, 1rem);
  border: 2px solid var(--text-color);
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  width: clamp(16rem, 90vw, 70rem);
  text-align: center;
  transition: all 0.4s ease;
}

.box-span {
  padding-top: 0.5rem;
}

.btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.4s ease;
}

.box-btn {
  background-color: transparent;
  color: var(--highlight-color);
  text-decoration: none;
}

.box-btn:hover {
  text-decoration: underline;
}

.new-game:hover,
.dialog-box:hover {
  box-shadow: 6px 6px 1px var(--highlight-color);
}

section:hover > h2 {
  text-shadow: 2px 2px 1px var(--highlight-color);
}

.start-btn {
  background-color: var(--text-color);
  color: var(--bg-color);
  margin: 0 auto;
}

.start-btn:hover {
  background-color: var(--highlight-color);
}

.start-btns {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.board-wrapper {
  width: clamp(16rem, 90vw, 70rem);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5vw;
}

.grid {
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
  aspect-ratio: 1;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;
  transition: all 0.4s ease;
}

.grid:hover {
  box-shadow: 6px 6px 1px var(--highlight-color);
}

.row {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2px;
}

.col {
  background-color: var(--bg-color);
  color: var(--hit);
  font-size: 2vw;
  width: 100%;
  height: 100%;
  transition: all 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-grid > * > .col.hover {
  background-color: var(--ship-color);
  cursor: pointer;
}

.enemy-grid > * > .col.hover:hover {
  background-color: var(--highlight-color);
  cursor: pointer;
}

.player-grid > * > .ship {
  background-color: var(--ship-color);
}

.enemy-grid > * > .living-ship {
  background-color: var(--ship-color);
}

.col.attack {
  color: var(--text-color);
}

.col.ship.attack {
  color: var(--hit-color);
}

.col.ship.sunk {
  background-color: var(--hit-color);
  color: var(--text-color);
}

footer {
  border-top: 1px solid var(--text-color);
  font-size: 0.8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .board-wrapper {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .col {
    font-size: 4vw;
  }
}

@media screen and (max-width: 480px) {
  .new-game {
    box-sizing: border-box;
    width: clamp(16rem, 90vw, 70rem);
    padding: 1.5rem;
  }

  .start-btns {
    flex-direction: column;
  }
}
